/* font-family: 'Montserrat', sans-serif;
font-family: 'PT Serif', serif; */


@font-face {
    font-family: 'Quite Chocolatey';
    src: url('fonts/QuiteChocolatey.eot');
    src: url('fonts/QuiteChocolatey.eot?#iefix') format('embedded-opentype'),
        url('fonts/QuiteChocolatey.woff2') format('woff2'),
        url('fonts/QuiteChocolatey.woff') format('woff'),
        url('fonts/QuiteChocolatey.ttf') format('truetype'),
        url('fonts/QuiteChocolatey.svg#QuiteChocolatey') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Couture';
    src: url('fonts/Couture-Bold.woff2') format('woff2'),
        url('fonts/Couture-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.body {
    font-family: 'PT serif';
    font-weight: 400;
}

.container {
    max-width: 1010px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    position: relative;
}

/*--------------------- Header ----------------------*/

.header {
    margin: 0 auto;
    width: 100%;
    height: 688px;
    background-image:  url(images/smooth_layer.png), 
                       url(images/road.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center;
}

.header__top {
    padding: 60px 0 152px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #d03958;
    font-family: 'Quite Chocolatey';
    font-weight: 400;
    letter-spacing: -1.2px;
}

.header__logo {
    flex-grow: 0.5;
    margin-left: auto;
}

.logo_size_m {
    font-size: 88px;
    line-height: 32.38px;
}

.logo_size_s {
    font-size: 64px;
    line-height: 23.6px;
}

.menu {
    width: auto;
    flex-grow: 0.5;
    text-align: right;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    display: block;
    padding: 10px 15px;    
    text-decoration: none;
    color: #1b1b1b;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: -0.36px;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
}

.nav-link:hover {
    color: #fff;
    background-color: #d03958;
    transition: all 0.5s ease 0s;
}

/*--------------Styles for hamburegr menu------------*/

.menu-btn {
    display: none; 
    width: 30px;
    height: 30px;
    position: relative;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    width: 30px; 
    height: 5px; 
    background-color:#d03958; 
    position: absolute;
    top: 50%;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
}

.menu-btn span::before {
    transform: translateY(-13px);
}

.menu-btn span::after {
    transform: translateY(7px);
}

.menu-btn_active span::before {
    transform: rotate(45deg);
}

.menu-btn_active span::after {
    transform: rotate(-45deg);
}

.menu-btn_active span {
    width: 0;
}

input[type="checkbox"], label {
    display:none;
    margin: 0;
}
/*---- Separately classes for Request' Input to avoid its dissapearing -----*/
.field {
    display: block;
}

.checkbox-text {
    display: inline-block;
}
/*----------------------------------------------------------*/


.header__main {
    position: relative;
}

.header__main-title {
    width: 48.8%;
}

.title {
    color: #161616;
    font-family: Montserrat;
    line-height: 80px;
    text-transform: uppercase;
}

.title-size-xxl {
    font-size: 90px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1.8px;
}

.title-size-xl {
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1.2px;
}

.title-size-l {
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1px;
}

.title-size-m {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.44px;
}

.title-size-s {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.4px;
}

.text-pink {
    color: #d03958;
}

.text-white {
    color: #fff;
}

.text-grey {
    color: #b5b5b5;
}

.header__main-text {
    margin-top: 47px;
    width: 46.2%;
}

.text {
    color: #161616;
    font-family: "PT Serif";
    font-weight: 400;
    letter-spacing: -0.4px;
}

.text-size-l {  
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.44px;
}

.text-size-m {  
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
}

.text-size-s {  
    font-size: 14px;
    line-height: 18.97px;
    letter-spacing: -0.32px;
}
.header__main-request {
    width: 400px;
    padding: 33px 23px 28px 23px;
    position: absolute;
    background-color: #d03958;
    border-radius: 7px;
    top: -11px;
    left: 583px;
}

.header__main-request-title {
    margin-bottom: 37px;
    text-align: center;
}

.request_title {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.44px;
    text-align: center;
}

.request_list {  
    padding: 0 20px;
    list-style: none;
    background: white;
    border-radius: 4px;
    margin-top: 16px;
}

.request-text {
    line-height: 25px;
    border: none;
    outline: none;
    padding: 17px 19px 17px 0;
    width: 100%;
}

.checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "PT Serif";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.4px;
    position: relative;
    display: flex;
    align-items: center;
}

.field {
    margin: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
}

.checkbox-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.4px;
    color: #fff;
}

.fake-checkbox {
    width: 20px;
    height: 20px;
    background-color: #e3d5b8;
    border-radius: 3px;
    background-size: 20px;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.field:checked + .fake-checkbox {
    background-image: url(images/checkbox.png);
    background-position: center;
}

.button {
    cursor: pointer;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.44px;
    text-transform: uppercase;
    border-radius: 4px;
}

.button-submit {
    background-color: #000;
    color: #ffffff;
    padding: 17px 146px;
    border-style: none;
}

.button-submit:hover {
    background-color: rgb(0, 0, 0);
    color: #d03958;
}
/*----------- Media queries for Header --------------*/
/*--------@media (max-width 1010px)-----------*/

@media (max-width: 1010px) {
    .header {
        height: auto;
    }

    .header__main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__main-request {
        position: static;
        margin-bottom: 50px;
        width: 75%;
        padding: 33px 10% 28px 10%;
    }

    .header__top {
        padding-bottom: 50px;
    }

    .header__main-title {
        width: 100%;
        text-align: center;
    }

    .header__main-text {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    } 
    
    .button-submit {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
}

/*--------@media (max-width 768px)-----------*/

@media (max-width: 768px) {

    .header__logo {
        margin-bottom: 15px;
    }

    .nav-link {
        padding: 10px 10px;    
        font-size: 16px;
    }

    .title-size-xxl {
        font-size: 60px;
        line-height: 60px;
    }

    .header__main-request {
        width: 100%;
    }
}

/*--------@media (max-width 480px)-----------*/

@media (max-width: 480px) {

    .container {
        padding: 0 10px 0 10px;
    }

    .header__top {
        padding: 30px 0 30px 0;
    }
    
    .header__logo {
        margin-bottom: 0;
        flex-grow: 0.45;
        align-items: center;
    }

    .logo_size_m {
        font-size: 72px;
    }
    
    .nav-bar {
        flex-direction: column;
    }

    .menu-btn {
        display: block; 
        margin-bottom: 10px;
        align-items: flex-end;
    }

    input[type="checkbox"] {
        position: absolute; 
        top: -9999px; 
        left: -9999px; 
        background: none;}

    input[type="checkbox"]:focus {
        background: none;
    }

    label {
        display:inline-block; 
        cursor:pointer; 
    }

    input[type="checkbox"]:checked ~ .menu {
        display:block;
    }
        
    .menu {
        display: none; 
        position: absolute; 
        right: 0; 
        top: 70px; 
        background-color:#d03958; 
        padding: 0; 
        z-index: 1;
    }

    .menu-btn_active:checked ~ .menu {
        display: block;
    }

    .nav-bar {
        width:auto;
    }

    .nav-list {
        padding:0px; 
        width:100%; 
        display:table;
    }

    .nav-link {
        color:#FFF; 
        font-size:15px; 
        padding:10px 20px; 
        display:block; 
    }
    
    .title-size-xxl {
        font-size: 46px;
        line-height: 46px;
    }

    .header__main-text {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.4px;
        margin: 30px auto;
        width: 95%;
    }

    .header__main-request {
        padding: 20px 5% 20px 5%;
        border-radius: 5px;
    }

    .header__main-request-title {
        margin-bottom: 20px;
    }

    .title-size-m,
    .text-size-m,
    .checkbox-text {
        font-size: 16px;
        line-height: 22px;
    }

    .request-text {
        padding: 5px 0 5px 0;
    }

    .fake-checkbox {
        width: 15px;
        height: 15px;
    }

    .button {
        font-size: 16px;
    }

    input.button {
        font-size: 16px;
    }

    .button-submit {
        padding: 10px 60px;
    }
}

/*---------------- Services ------------------*/

.services {
    padding: 45px 0 68px 0;
}

.services-title  {
    font-family: Couture;
}

.services__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 97px;
}

.service-card {
    width: 20%;
    text-align: center;
}

.service-card__icon {
    color: #e3d5b8;
    font-size: 150px;
}

.service-card__text {
    margin-top: 47px;
}

@keyframes scale {
    from {transform:scale(1.0);}
    to {transform:scale(1.1);}
}

.service-card__icon:hover {
    animation: scale 0.5s;
    animation-timing-function: ease-in;  
    transform: scale(1.1);
    background-color: #fff;
    color: #d03958;
    cursor: pointer;
}

/*----------- Media queries for Services --------------*/
/*--------  @media (max-width 768px)-----------*/

@media (max-width: 768px) {
    .services {
        padding: 30px 0 30px 0;
    }

    .services__title {
        text-align: center;
    }

    .title-size-l {
        font-size: 36px;
        line-height: 52px;
    }

    .services__cards {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10px;
    }

    .service-card {
        width: 40%;
        margin-top: 20px;
    }

    .service-card__text {
        margin-top: 20px;
    }
}

/*--------  @media (max-width 480px)-----------*/

@media (max-width: 480px) {
    .title-size-l {
        font-size: 32px;
        line-height: 48px;
    }

    .services__cards {
        margin-top: 0;
    }
    
    .service-card {
        width: 100%;
        margin-top: 30px;
    }

    .service-card__text {
        margin-top: 10px;
    }
}

/*------------------ Our Story ----------------*/

.story {
    padding: 31px 0 28px 0;
    background-color: #d03958;
}

.story__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story__text {
    color: #fff;
    width: 61%;
}

.story__button {
    padding: 24px 70px;
    color: #161616;
    text-decoration: none;
    background-color: #e3d5b8;
}

.story__button:hover {
    color:#d03958;
}

/*----------- Media queries for Our Story --------------*/
/*--------  @media (max-width 1010px)-----------*/

@media (max-width: 1010px) {
    .story__inner {
        justify-content: space-around;
    }
}

/*--------  @media (max-width 768px)-----------*/

@media (max-width: 768px) {

    .story {
        padding: 20px 0 20px 0;
    }
    .story__inner {
        flex-direction: column;
    }

    .story__text {
        width: 100%;
        margin-bottom: 20px;
    }
}

/*--------  @media (max-width 480px)-----------*/

@media (max-width: 480px) {
    .button.story__button {
        font-size: 16px;
        padding: 15px 70px;
    }
}

/*-------------- Pricing --------------*/

.pricing {
    padding-top: 65px;
    background-color: #e3d5b8;
}

.pricing__title {
    color: #1f1f1f;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
}

.pricing__cards {
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.price-card {
    width: 31%;
    background-color: #fff;
    text-align: center;
    padding: 35px 5% 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.price-card__triangle {
    width: 90px;
    height: 90px;
    border: 45px solid transparent;
    border-left: 45px solid #949087;
    border-top: 45px solid #949087;
    position: absolute;
    top: 0;
    left: 0;
}

.price-card__triangle-text {
    transform: rotate(-45deg);
    position: absolute;
    top: 20px;
    left: 10px;
}

.price-card__price {
    margin: 15px 0 10px 0;
}

.price-card__offers {
    list-style: none;
}

.button {
    cursor: pointer;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.44px;
    text-transform: uppercase;
    border-radius: 4px;
}

.sign-up-button {
    margin: 30px 0 10px 0;
    padding: 15px;
    color: #161616;
    text-decoration: none;
    background-color: #e3d5b8;
    display: inline-block;
}

.sign-up-button:hover {
    background-color:#d03958;
    color: #fff;
}

/*----------- Media queries for Pricing --------------*/
/*--------  @media (max-width 880px)-----------*/

@media (max-width: 880px) {
    .pricing__cards {
        justify-content: center;
    }

    .price-card {
        width: 40%;
        margin: 10px 10px;
    }
}

/*--------  @media (max-width 768px)-----------*/

@media (max-width: 768px) {
    .pricing {
        padding: 30px 0 30px 0;
    }

    .pricing__title {
        font-size: 36px;
        line-height: 52px;
    }

    .pricing__cards {
        margin-top: 30px;
    }

    .price-card {
        width: 45%;
    }

    .title-size-xl {
        font-size: 48px;
        line-height: 60px;
    }
}

/*--------  @media (max-width 480px)-----------*/

@media (max-width: 480px) {

    .title-size-xl {
        font-size: 36px;
        line-height: 48px;
    }

    .price-card {
        width: 80%;
        padding: 20px 5% 0;
    }

    .button.sign-up-button {
        font-size: 16px;
    }

    .sign-up-button {
        margin-top: 20px;
    }
}

/*------------ Testimonial & Gallery -------------*/

.testimonial-gallery {
    padding-top: 151px;
    padding-bottom: 119px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonial {
    width: 50%;
    min-width: 439px;
    text-align: center;
}

.testimonial__feedback {
    margin-top: 20px;
    width: 439px;
    padding: 26px 77px 26px 26px;
    background-color: #fff;
    border: 1px solid  #e3d5b8;
    border-radius: 4px;
    text-align: left;
    position: relative;
}

.testimonial__feedback:hover {
    background-color: #e3d5b8;
}

.testimonial__feedback-author {
    margin-top: 23px;
    text-transform: none;
}

.testimonial__feedback-author-photo {
    position: absolute;
    top: 30px;
    left: 383px;
}

.photo {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    box-shadow: 0px -10px 20px -5px #bfb5a0;
}

.gallery {
    width: 39%;
    min-width: 388px;
    text-align: center;
}

.gallery__images {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    box-shadow: 0px -10px 20px -5px #bfb5a0;
    margin-bottom: 40px;
}

.more-link {
    text-decoration: underline;
}

/*----------- Media queries for Testimonials & Gallery --------------*/
/*--------  @media (max-width 1010px)-----------*/

@media (max-width: 1010px) {
    .testimonial-gallery {
        padding-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
        align-items: center;
    }

    .gallery {
        margin-top: 20px;
    }
}

/*--------  @media (max-width 768px)-----------*/

@media (max-width: 768px) {
    .testimonial,
    .gallery {
        min-width: 0;
    }

    .testimonial {
        width: 80%
    }

    .testimonial__feedback {
        width: 100%;
        padding: 26px 20% 26px 5%;
    }

    .testimonial__feedback-author-photo {
        left: 85%;
    }

    .gallery {
        width: 50%;
    }

    .gallery__images {
        margin-top: 20px;
    }
}

/*--------  @media (max-width 480px)-----------*/

@media (max-width: 480px) {
    .testimonial-gallery {
        padding-top: 30px;
    }

    .testimonial {
        width: 100%;
    }

    .testimonial__feedback {
        padding: 50px 5% 20px 5%;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .testimonial__feedback-author {
        margin-top: 10px;
    }

    .testimonial__feedback-author-photo {
        position: absolute;
        top: 0;
        left: 0;
    }

    .title-size-s {
        font-size: 16px;
        line-height: 22px;
    }

    .testimonial__feedback-author-photo {
        top: 0;
        left: 0;
        transform: translateY(-50%);
    }

    .photo {
        width: 70px;
        height: 70px;
    }

    .gallery {
        margin-top: 0;
    }

    .gallery__images {
        justify-content: center;
    }
    .image {
        width: 150px;
        height: 150px;
    }
}

/*------------- Footer ---------------*/

.footer {
    padding: 80px 0 84px 0;
    background-color: #161616;
}


.footer-container {
    max-width: 1010px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    flex-grow: 0.5;
    margin-left: auto;
}

.footer__copyright-text {
    color: #fff;
}

.footer__logo {
    margin-top: 20px;
    flex-grow: 0.5;
    text-align: right;
}

/*----------- Media queries for Footer --------------*/
/*--------  @media (max-width 768px)-----------*/

@media (max-width: 768px) {
    .footer {
        padding: 50px 0 50px 0;
    }

    .footer__copyright {
        text-align: center;
    }
}

/*--------  @media (max-width 480px)-----------*/

@media (max-width: 480px) {
    .footer {
        padding: 30px 0 30px 0;
    }

    .logo_size_s {
        font-size: 48px;
    }
}




